@import "libs/bootstrap-reboot.min";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";
//base styles
* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
//main styles
@import "blocks/promo";
@import "blocks/title";
@import "blocks/btn";
@import "blocks/sidepanel";
@import "blocks/menu";
@import "blocks/about";
