.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/main_bg.jpg") center (center/cover) no-repeat;
    padding-top: 205px;
    &__title {
        margin-top: 10px;
        width: 535px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }
    &__link {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}
